<link rel="stylesheet" href="/css/home.css" />

<% if(locals.user){ %>

<h3>Posts</h3>
<form action="/post/create" method="POST">
  <div class="mb-3">
    <textarea
      class="form"
      placeholder="Type Here...."
      name="content"
      required
      cols="20"
      rows="3"
    ></textarea>
    <button type="Submit" class="btn btn-primary button">Post</button>
  </div>

  <div>
    <ul>
      <% for (post of post){%>
      <div class="box">
        <p>
          <li><%= post.content %></li>
          <small> <%= post.user.name %> </small>
        </p>
       
      </div>
    
      
    </ul>
  </div>
</form>
<form action="/comment/create" method="POST">
  <div class="comment-container">
    <input class="comment"
      type="text"
      class="form-control"
      name="content"
      placeholder="Enter Comment"
      required
    />
    <input
      type="hidden"
      class="form-control"
      name="post"
      value="<%= post._id %>"
    />
    <button type="submit" class="btn btn-outline-primary">
      Add Comment
    </button>
  </div>
</form>

<div>
  <ul>
    <% for(comment of post.comment){%>
      <p>
        <%= comment.content %>
        <br>
        <small>
          <%= comment.user.name %>
        </small>
      </p>
     
      <%}%>
  </ul>
</div>

<%}%>

<%}else{%>

<div class="mid">
  <h1 class="align">Welcome To Codeial!!!</h1>
  <h3 class="align">Please Sign In / Sign Up to Continue</h3>
</div>

<%}%>
